# Server Configuration
PORT=5000
NODE_ENV=production

# Database Connection String
MONGO_URI=mongodb+srv://AIFOURM:jspm%402026@cluster00.vujlpwx.mongodb.net/ai-forum?retryWrites=true&w=majority&appName=Cluster00

# Security Secrets
JWT_SECRET=super_secret_jwt_key_ai_forum_2026_secure
JWT_EXPIRE=7d

# Admin Portal Credentials
ADMIN_EMAIL=admin@aiforum.com
ADMIN_PASSWORD=jspm@2026

# Client URL (for CORS and QR generation)
CLIENT_URL=http://localhost:5000
